.row{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

HR{
    height:7px;border-width:7; color:rgb(42, 156, 19);background-color:rgb(52, 20, 195)"
}

H3{
    font-size: 24px;
}

p{
    font-size: 30px;
    color: rgb(25, 4, 219);
}

img {
    border-style: groove;
    border-color: blanchedalmond;
    max-width:100%;
    height:auto;
}

#myBtn{
    display: none;
    position: fixed;
    bottom: 85px;
    right: 28px;
    z-index: 99;
    font-size: 16px;
    border: 5px;
    outline: none;
    background-color: rgb(236, 212, 74);
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover{
    background-color: rgb(138, 9, 132);
}

h1 {
    color: white;
}

/* * {
    border: solid;
} */

.header{
    background-color: rgb(54, 144, 58);
    display: flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #242323;
    border: 6px solid rgb(7, 55, 189);
    color: blanchedalmond;
}

.navbar{
    background-color: rgb(37,35,35);
    overflow: hidden;
}

.navbar a{
    float: left;
    display: block;
    color: antiquewhite;
    padding: 20px 30px;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-right{
    float: right;
}

.navbar a:hover{
    background-color: beige;
    color:black
}

.navbar a.active{
    background-color: green;
    color:greenyellow
}

.navbar .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
  }
  
@media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

A {
    text-decoration: none;
}

.item{
    position: relative;
}

.item p{
    opacity: 0;
    position: absolute;
    top: 45%;
    left: 52.5%;
    transform: translate(-55%, -55%);
}

.item:hover p{
    opacity: 1;
}