.row{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

HR{
    height:7px;border-width:7; color:rgb(42, 156, 19);background-color:rgb(52, 20, 195)"
}

body{
    background-image:url(images/back.jpg);
    background-size: cover;
    background-attachment: fixed;
}

H3{
    font-size: 24px;
}

p{
    font-size: 30px;
    color: black;
}

img {
    border-style: groove;
    border: 6px solid rgb(78, 28, 28);
    border-radius: 10px;
    max-width:100%;
    height:auto;
}

#myBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 16px;
    border: 5px;
    outline: none;
    background-color: rgb(17, 19, 192);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover{
    background-color: rgb(138, 9, 9);
}